body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #341E21;
}

#file-explorer {
  background-color: #4d4043;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-width: 100%;
  text-align: left;
}

h1 {
  font-size: 24px;
  text-align: center;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
}

input,
select {
  margin: 5px;
  padding: 5px;
}

div {
  margin: 5px 0;
}

image {
  margin-top: 100px;
}

#myImage {

  position: absolute;
  left: 0;
  top: 0;

}